In [1]:
# Dependencies
import pandas as pd

In [2]:
# Read data file with pd library
## Pre-confirmed COVID-19
bikedata2019oct_df = pd.read_csv('Resources/201910-citibike-tripdata.csv')
bikedata2019nov_df = pd.read_csv('Resources/201911-citibike-tripdata.csv')
bikedata2019dec_df = pd.read_csv('Resources/201912-citibike-tripdata.csv')
bikedata2020jan_df = pd.read_csv('Resources/202001-citibike-tripdata.csv')
bikedata2020feb_df = pd.read_csv('Resources/202002-citibike-tripdata.csv')
## Post-confirmed COVID-19
bikedata2020mar_df = pd.read_csv('Resources/202003-citibike-tripdata.csv')
bikedata2020apr_df = pd.read_csv('Resources/202004-citibike-tripdata.csv')
bikedata2020may_df = pd.read_csv('Resources/202005-citibike-tripdata.csv')
bikedata2020jun_df = pd.read_csv('Resources/202006-citibike-tripdata.csv')
bikedata2020jul_df = pd.read_csv('Resources/202007-citibike-tripdata.csv')
bikedata2020aug_df = pd.read_csv('Resources/202008-citibike-tripdata.csv')
bikedata2020sep_df = pd.read_csv('Resources/202009-citibike-tripdata.csv')

In [ ]:
# Quick peak: what data types do we have?
bikedata2019oct_df.dtypes

In [ ]:
bikedata2019oct_df.head(4) ## try sort startime/stop tome to see what other format

In [3]:
# Combined all the data from 2019-OCT to 2020-FEB
precovid_df = pd.concat([bikedata2019oct_df, bikedata2019nov_df, bikedata2019dec_df, bikedata2020jan_df, bikedata2020feb_df])

precovid_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,527,2019-10-01 00:00:05.6180,2019-10-01 00:08:52.9430,3746,6 Ave & Broome St,40.724308,-74.004730,223,W 13 St & 7 Ave,40.737815,-73.999947,41750,Subscriber,1993,1
1,174,2019-10-01 00:00:15.8750,2019-10-01 00:03:10.1680,3301,Columbus Ave & W 95 St,40.791956,-73.968087,3283,W 89 St & Columbus Ave,40.788221,-73.970416,18264,Subscriber,1992,1
2,759,2019-10-01 00:00:19.8240,2019-10-01 00:12:59.7070,161,LaGuardia Pl & W 3 St,40.729170,-73.998102,174,E 25 St & 1 Ave,40.738177,-73.977387,25525,Subscriber,1995,1
3,615,2019-10-01 00:00:21.0680,2019-10-01 00:10:36.6790,254,W 11 St & 6 Ave,40.735324,-73.998004,477,W 41 St & 8 Ave,40.756405,-73.990026,30186,Subscriber,1992,1
4,761,2019-10-01 00:00:26.3800,2019-10-01 00:13:08.3130,161,LaGuardia Pl & W 3 St,40.729170,-73.998102,174,E 25 St & 1 Ave,40.738177,-73.977387,25597,Subscriber,1992,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1146825,203,2020-02-29 23:58:48.0230,2020-03-01 00:02:11.6640,3737,Stanton St & Norfolk St,40.720747,-73.986274,317,E 6 St & Avenue B,40.724537,-73.981854,39094,Subscriber,1993,2
1146826,357,2020-02-29 23:58:52.5640,2020-03-01 00:04:50.5370,546,E 30 St & Park Ave S,40.744449,-73.983035,3463,E 16 St & Irving Pl,40.735367,-73.987974,40722,Subscriber,1966,2
1146827,169,2020-02-29 23:58:54.5820,2020-03-01 00:01:43.7770,3043,Lewis Ave & Decatur St,40.681460,-73.934903,3052,Lewis Ave & Madison St,40.686312,-73.935775,28696,Subscriber,1994,1
1146828,738,2020-02-29 23:58:58.8110,2020-03-01 00:11:17.7390,3255,8 Ave & W 31 St,40.750585,-73.994685,497,E 17 St & Broadway,40.737050,-73.990093,19975,Subscriber,1999,1
1146829,960,2020-02-29 23:59:35.6070,2020-03-01 00:15:35.6490,379,W 31 St & 7 Ave,40.749156,-73.991600,3744,1 Ave & E 5 St,40.725864,-73.986389,38651,Subscriber,1990,1

In [29]:
# Changed gender column to show str
precovid_df['gender'] = precovid_df['gender'].astype(str)

precovid_df = precovid_df.replace({'gender': {
    '0': 'Unknown',
    '1': 'Male',
    '2': 'Female'
}})

precovid_df.head(3)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,527,2019-10-01 00:00:05.6180,2019-10-01 00:08:52.9430,3746,6 Ave & Broome St,40.724308,-74.004730,223,W 13 St & 7 Ave,40.737815,-73.999947,41750,Subscriber,1993,Male
1,174,2019-10-01 00:00:15.8750,2019-10-01 00:03:10.1680,3301,Columbus Ave & W 95 St,40.791956,-73.968087,3283,W 89 St & Columbus Ave,40.788221,-73.970416,18264,Subscriber,1992,Male
2,759,2019-10-01 00:00:19.8240,2019-10-01 00:12:59.7070,161,LaGuardia Pl & W 3 St,40.729170,-73.998102,174,E 25 St & 1 Ave,40.738177,-73.977387,25525,Subscriber,1995,Male

In [30]:
precovid_df['gender'].value_counts()

Male       4901921
Female     1613166
Unknown     398830
Name: gender, dtype: int64

In [31]:
# Combined all the data from 2020-MAR to 2020-SEP
postcovid_df = pd.concat([bikedata2020mar_df, bikedata2020apr_df, bikedata2020may_df, bikedata2020jun_df, bikedata2020jul_df, bikedata2020aug_df, bikedata2020sep_df])

postcovid_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1589,2020-03-01 00:00:03.6400,2020-03-01 00:26:32.9860,224,Spruce St & Nassau St,40.711464,-74.005524,3574,Prospect Pl & Underhill Ave,40.676969,-73.965790,16214,Subscriber,1980,1
1,389,2020-03-01 00:00:16.7560,2020-03-01 00:06:46.0620,293,Lafayette St & E 8 St,40.730207,-73.991026,223,W 13 St & 7 Ave,40.737815,-73.999947,29994,Subscriber,1991,2
2,614,2020-03-01 00:00:20.0580,2020-03-01 00:10:34.2200,379,W 31 St & 7 Ave,40.749156,-73.991600,515,W 43 St & 10 Ave,40.760094,-73.994618,39853,Subscriber,1991,1
3,597,2020-03-01 00:00:24.3510,2020-03-01 00:10:22.3390,3739,Perry St & Greenwich Ave,40.735918,-74.000939,325,E 19 St & 3 Ave,40.736245,-73.984738,42608,Subscriber,1989,1
4,1920,2020-03-01 00:00:26.1120,2020-03-01 00:32:26.2680,236,St Marks Pl & 2 Ave,40.728419,-73.987140,3124,46 Ave & 5 St,40.747310,-73.954510,36288,Subscriber,1993,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2488220,1818,2020-09-30 23:59:48.8460,2020-10-01 00:30:07.7810,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,3836,Bushwick Ave & Linden St,40.691460,-73.921460,36220,Subscriber,1993,1
2488221,1553,2020-09-30 23:59:53.7240,2020-10-01 00:25:47.1760,390,Duffield St & Willoughby St,40.692216,-73.984284,3799,6 Ave & W 34 St,40.749640,-73.988050,31092,Subscriber,1995,1
2488222,626,2020-09-30 23:59:54.6670,2020-10-01 00:10:21.6050,3901,Stanhope St & Fairview Ave,40.709980,-73.911160,3083,Bushwick Ave & Powers St,40.712477,-73.941000,47224,Subscriber,1954,2
2488223,325,2020-09-30 23:59:56.2120,2020-10-01 00:05:21.3060,3148,E 84 St & 1 Ave,40.775655,-73.950686,3338,2 Ave & E 99 St,40.786259,-73.945526,16759,Subscriber,1995,2
2488224,128,2020-09-30 23:59:57.8350,2020-10-01 00:02:06.0920,439,E 4 St & 2 Ave,40.726281,-73.989780,312,Allen St & Stanton St,40.722055,-73.989111,47718,Subscriber,1996,2

In [32]:
# Changed gender column to show str
postcovid_df['gender'] = postcovid_df['gender'].astype(str)

postcovid_df = postcovid_df.replace({'gender': {
    '0': 'Unknown',
    '1': 'Male',
    '2': 'Female'
}})

postcovid_df.head(3)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1589,2020-03-01 00:00:03.6400,2020-03-01 00:26:32.9860,224,Spruce St & Nassau St,40.711464,-74.005524,3574,Prospect Pl & Underhill Ave,40.676969,-73.965790,16214,Subscriber,1980,Male
1,389,2020-03-01 00:00:16.7560,2020-03-01 00:06:46.0620,293,Lafayette St & E 8 St,40.730207,-73.991026,223,W 13 St & 7 Ave,40.737815,-73.999947,29994,Subscriber,1991,Female
2,614,2020-03-01 00:00:20.0580,2020-03-01 00:10:34.2200,379,W 31 St & 7 Ave,40.749156,-73.991600,515,W 43 St & 10 Ave,40.760094,-73.994618,39853,Subscriber,1991,Male

In [33]:
postcovid_df['gender'].value_counts()

Male       6964003
Female     3573237
Unknown    1507689
Name: gender, dtype: int64

In [34]:
# Export the two csv
precovid_df.to_csv('data/precovid19.csv', index=False)
postcovid_df.to_csv('data/postcovid19.csv', index=False)